a {
  text-decoration: none;
  color: black;
}
#getActIdLen{
  padding: 10px 10px;
  margin: 10px;
  width: 140px;
  border: 2px
}
.actLinkHref {
  font-weight: bold;
  width: 140px;
  padding: 10px 10px;
  margin: 10px;
}
.actLinkHrefEmpty{
  color: gray;
  border: 2px solid ;
  border-radius: 0.375rem;
}
.actLinkHrefEmpty:hover{
  background-color: #efefef!important;
  color: gray!important;
  border: 2px solid !important;
  border-radius: 0.375rem!important;
}
.actLinkHrefDraft{
  color: rgb(0, 0, 0);
  border: 2px solid ;
  border-radius: 0.375rem;
}
.actLinkHrefDraft:hover{
  background-color: #dbdbdb!important;
  color: rgb(0, 0, 0)!important;
  border: 2px solid !important;
  border-radius: 0.375rem!important;
}
.actLinkHrefError{
  color: red;
  border: 2px solid ;
  border-radius: 0.375rem;
}
.actLinkHrefError:hover{
  background-color: #fff6f6!important;
  color: red!important;
  border: 2px solid !important;
  border-radius: 0.375rem!important;
}
.actLinkHrefSuccess{
  color: green;
  border: 2px solid ;
  border-radius: 0.375rem;
}
.actLinkHrefSuccess:hover{
  background-color: #e4ffe4!important;
  color: green!important;
  border: 2px solid !important;
  border-radius: 0.375rem!important;
}

.actLinkHref.a{
  width: 140px;

}
.actLinkHref:hover{
  background-color: #e7e7e7;
  border: 1px solid #9f9f9f;
}
.hideHref:nth-child(n+11){
display: none;
}
#createAct{
  text-align: center;
  width: 140px;
  padding: 20px 10px 10px;
  margin: 10px;
  height: 95px;
}
.arrowDown{
  border: 50px solid transparent; border-top: 50px solid #0dcaf0;
}
.arrowDown:hover{
  border: 50px solid transparent; border-top: 50px solid #0d6efd;
}
.arrowTop{
  border: 50px solid transparent; border-bottom: 50px solid #0dcaf0;
}
.arrowTop:hover{
  border: 50px solid transparent; border-bottom: 50px solid #0d6efd;
}

.markUnit:hover{
background-color: #e7e7e7;
}
.markUnitRow{
  font-size: 12px;
}
.btnBack{
  font-size: 1rem;

}
.btnBackBtn {
  width: 140px;
}
.markUnitName{
  width: 140px;
}
.btnEditMark{

  height: 90%;
  margin-top: 0.40rem !important;
}

.load-more span{
  display: none;
}
#myForm{
  width: 33%!important;
}